@import "../../../variables";

.filtering {
  //display: none;
  form {
    h5 {
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
      color: $brand-primary;
    }

    .categories-cal-size {
      span {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}